<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Playground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81DD625E1EFA0A9F008A4291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81DD62721EFA0AA0008A4291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81DD627D1EFA0AA0008A4291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
